@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-neutral-600 text-white;
    }
}

@font-face {
    font-family: "Digital Numbers Regular";
    src: local("Digital Numbers Regular"),
        url("../pages/fonts/DigitalNumbers-Regular.woff") format("woff");
}
@font-face {
    font-family: "Monofonto Regular";
    src: local("Monofonto Regular"),
        url("../pages/fonts/monofonto.regular.woff") format("woff");
}
